{% extends "base.html.twig" %}

{% block container %}
	<div class="container">
		<div style="margin-top:55px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	    	<div class="panel panel-info">
				<div class="panel-heading">
	                <div class="panel-title">Calificar Postulante</div>
	                </div>

                	<div class="panel-body" >
                  <!--INICIO FORMULARIO-->
                        <form id="favorForm" class="form-horizontal" enctype="multipart/form-data" role="form" method="POST" action="./?action=calificarPostulanteAction">  
                        
                            <input type="hidden" name="idFavor" value="{{ idFavor }}">
                            <input type="hidden" name="idPostulante" value="{{ idPostulante }}">


                            <div class="form-group">
                                  <label for="descripcion" class="col-md-3 control-label">Comentario</label>
                                  <div class="col-md-9">
                                        <textarea form="favorForm" name="comentario" class="form-control" style="max-width: 374px;" required minlength="4" maxlength="255"></textarea>
                                  </div>
                            </div>


                            <div class="form-group">
                                  <label for="titulo" class="col-md-3 control-label"></label>
                                  <div class="col-md-9">
                                        <button type="sumbit" class="btn btn-default btn-ms" name="calificacion" value="2">
                                            <span class="glyphicon glyphicon-thumbs-down" style="color: red;"> NEGATIVO</span> 
                                        </button>

                                        <button type="sumbit" class="btn btn-default btn-ms" name="calificacion" value="0">
                                            <span class="glyphicon glyphicon-record"> NEUTRO</span> 
                                        </button>


                                        <button type="sum" class="btn btn-default btn-ms" name="calificacion" value="1">
                                            <span class="glyphicon glyphicon-thumbs-up" style="color: green;"> POSITIVO</span> 
                                        </button>  
                                  </div>
                            </div>

                      <!--FIN FORMULARIO-->
               			</form>
        			</div>
        		</div>
			</div>
		</div>
	</div>

{% endblock %}