<div class="barraBusqueda">
    <form class="navbar-form navbar-left col-md-12" method="GET" id="searchForm" action="./?" role="search" style="left: 20%">
    <nav class="navbar">
    	<h1 class="page-header"></h1>
            <div class="form-group">
                    <input type="hidden" name="action" value="buscarFavor">
                	<input type="text" class="form-control" name="titulo" id="titulo" placeholder="Título" >

                    <select class="form-control" name="localidad">
                        <optgroup label="Buenos Aires">
                        <option value="">Localidad</option>
                        <option value="Azul">Azul</option>
                        <option value="Bolivar">Bolivar</option>
                        <option value="Laprida">Laprida</option>
                        <option value="Olavarria">Olavarria</option>
                        <option value="Tandil">Tandil</option>  
                    </select>

                    <select class="form-control" name="categoria">
                        <option value="">Categoria</option>
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                        {% endfor %}         
                    </select>
                    <button class="btn btn-info">Buscar</button>
            </div>

            <legend class="oblique searchFav" >La búsqueda puede ser por título, localidad y categoria.</legend>
        </nav>
    </form>
</div>