<div class="barraBusqueda">
    <form class="navbar-form navbar-left col-md-12" method="GET" id="searchForm" action="./?" role="search" style="left: 20%">
    <nav class="navbar">
    	<h1 class="page-header"></h1>
            <div class="form-group">
                    <input type="hidden" name="action" value="buscarFavor">
                	<input type="text" class="form-control" name="titulo" id="titulo" placeholder="Título" value="{{ titulo }}" >

                    {% include 'selectLocalidad.html.twig' %}

                    <select class="form-control" name="categoria">
                        <option value="">Categoria</option>
                        {% for categoria in categorias %}
                            <option {% if categoria.id == categ %} selected {% endif %} value="{{categoria.id}}">{{categoria.nombre}}</option>
                        {% endfor %}         
                    </select>
                    <button class="btn btn-info">Buscar</button>
            </div>

            <legend class="oblique searchFav" >La búsqueda puede ser por título, localidad y categoria.</legend>
        </nav>
    </form>
</div>