<select class="form-control" name="localidad">
    <option value="">Localidad</option>
    <optgroup label="Buenos Aires">
    <option {% if localidad == 'Azul' %} selected {% endif %} value="Azul">Azul</option>
    <option {% if localidad == 'Bolivar' %} selected {% endif %} value="Bolivar">Bolivar</option>
    <option {% if localidad == 'Laprida' %} selected {% endif %} value="Laprida">Laprida</option>
    <option {% if localidad == 'Olavarria' %} selected {% endif %} value="Olavarria">Olavarria</option>
    <option {% if localidad == 'Tandil' %} selected {% endif %}value="Tandil">Tandil</option>  
</select>