<div class="container">    
    {#<div id="signupbox" style="padding-left: 0px;" class="mainbox col-md-11">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Favores</div>
            </div>

             <div class="panel-body" >   
                <table class="table table-hover table-bordered col-md-11">
                    <thead>
                    <tr class="beGrey">
                        <th>Imagen</th>
                        <th>Título</th>
                        <th>Tipo</th>
                        <th>Localidad</th>
                        <th>Dirección</th>
                        <th>Capacidad</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><img style=" width: 110px; height: 50px;" id="img" class="img-rounded" src="" alt="" /></td>
                            {#
                                SI ES PREMIUM HAY QUE MOSTRAR ESTA IMAGEN Y NO LA DE ARRIBA
                                <td><img style=" width: 110px; height: 80px;" id="img" class="img-rounded" {% if hospedaje.imagen1 %} src="{{ hospedaje.imagen1 }}"  {% endif %}alt="premium" /></td>
                            
                            <td> hospedaje.titulo </td>
                            <td> hospedaje.tipoHosp </td>
                            <td> hospedaje.localidad </td>
                            <td> hospedaje.direccion </td>
                            <td> hospedaje.capacidad personas.</td>
                            <td><a class="btn btn-primary" data-path="" >Ver</a>
                            </td>
                        </tr>
                        <tr>
                            <td><img style=" width: 110px; height: 50px;" id="img" class="img-rounded" src="" alt="" /></td>
                            {#
                                SI ES PREMIUM HAY QUE MOSTRAR ESTA IMAGEN Y NO LA DE ARRIBA
                                <td><img style=" width: 110px; height: 80px;" id="img" class="img-rounded" {% if hospedaje.imagen1 %} src="{{ hospedaje.imagen1 }}"  {% endif %}alt="premium" /></td>
                            
                            <td> hospedaje.titulo </td>
                            <td> hospedaje.tipoHosp </td>
                            <td> hospedaje.localidad </td>
                            <td> hospedaje.direccion </td>
                            <td> hospedaje.capacidad personas.</td>
                            <td><a class="btn btn-primary" data-path="" >Ver</a>
                            </td>
                        </tr>
                        <tr>
                            <td><img style=" width: 110px; height: 50px;" id="img" class="img-rounded" src="" alt="" /></td>
                            {#
                                SI ES PREMIUM HAY QUE MOSTRAR ESTA IMAGEN Y NO LA DE ARRIBA
                                <td><img style=" width: 110px; height: 80px;" id="img" class="img-rounded" {% if hospedaje.imagen1 %} src="{{ hospedaje.imagen1 }}"  {% endif %}alt="premium" /></td>
                            
                            <td> hospedaje.titulo </td>
                            <td> hospedaje.tipoHosp </td>
                            <td> hospedaje.localidad </td>
                            <td> hospedaje.direccion </td>
                            <td> hospedaje.capacidad personas.</td>
                            <td><a class="btn btn-primary" data-path="" >Ver</a>
                            </td>
                        </tr>
                        <tr>
                            <td><img style=" width: 110px; height: 50px;" id="img" class="img-rounded" src="" alt="" /></td>
                            {#
                                SI ES PREMIUM HAY QUE MOSTRAR ESTA IMAGEN Y NO LA DE ARRIBA
                                <td><img style=" width: 110px; height: 80px;" id="img" class="img-rounded" {% if hospedaje.imagen1 %} src="{{ hospedaje.imagen1 }}"  {% endif %}alt="premium" /></td>
                            
                            <td> hospedaje.titulo </td>
                            <td> hospedaje.tipoHosp </td>
                            <td> hospedaje.localidad </td>
                            <td> hospedaje.direccion </td>
                            <td> hospedaje.capacidad personas.</td>
                            <td><a class="btn btn-primary" data-path="" >Ver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> #}
        </div>
    </div>
</div>